body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(180deg, #4bc0c8, #c779d0, #feac5e);
}
/* * {
        border: 1px solid black;
      } */
a {
  /* 去除a下划线 */
  text-decoration: none;
}
.cebian {
  /* 侧边栏背景颜色- */
  background: linear-gradient(30deg, #4bc0c8, #c779d0, #feac5e);
}
.dingbu {
  /* 顶部栏背景颜色 */
  background: linear-gradient(30deg, #4bc0c8, #feac5e, #c779d0);
}
.baise {
  /*内容区域背景颜色-白色*/
  background-color: white;
}
/* 阴影 */
/* .yinying {
  box-shadow: rgb(116, 111, 111) 0px 3px 20px;
} */
.flex {
  display: flex;
}
.flex1 {
  /* 占满比例 */
  flex: 1;
}
.column {
  /* 竖向 */
  flex-direction: column;
}
.mg8 {
  /* 边距 */
  margin: 8px;
}
.mgr8 {
  /* 右边距 */
  margin-right: 8px;
}
.mgt8 {
  /* 上边距 */
  margin-top: 8px;
}
.biankuang {
  /* 边框 */
  border: 3px solid #c779d0;
}
/* 列表栏 */
.liebiao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 22px;
}

/* 悬停按钮凸起 */
.anniu {
  font-weight: bold;
  margin: 10px;
  border-radius: 10px;
}
.anniu:hover {
  box-shadow: 0px 3px 20px;
  height: 45px;
  transition: 0.5s;
  background-image: linear-gradient(30deg, #4bc0c8, #c779d0);
} /* 悬停按钮凸起 */

.jvzhong {
  /* 居中三件套 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.an {
  padding: 10px 20px;
  font-size: 22px;
  font-weight: bold;
}

.an:hover {
  /* 悬停显示颜色 */
  background: linear-gradient(30deg, #4bc0c8, #c779d0, #feac5e);
  border-radius: 10px;
  margin: 10px;
}
/* 设置导航栏的搜索框样式 */
.suo input[type="text"] {
  float: right;
  padding: 8px;
  border: none;
  margin-top: 12px;
  margin-right: 100px;
  font-size: 17px;
  border-radius: 10px;
}
